.vscode
.idea
*.js
!jest.config.js
*.d.ts
node_modules/
dist

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.nonprod
cdk.prod
cdk.context.json

# sensitive config
cdk/gasolina/config/providers/*
